In [1]:
import pandas as pd
import numpy as np

In [2]:
fmi_data = pd.read_csv('./data/nuorgam-weather-data-09-2022-FMI/nuorgam-weather-092022.csv')

In [3]:
fmi_data

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Pilvien määrä (1/8),Sademäärä (mm),Lumensyvyys (cm),Ilman lämpötila (degC),Tuulen nopeus (m/s)
0,2022,9,17,00:00,UTC,-,0.4,0,7.4,2.2
1,2022,9,17,00:10,UTC,-,-,0,7.4,2.2
2,2022,9,17,00:20,UTC,-,-,0,7.3,2.2
3,2022,9,17,00:30,UTC,-,-,0,7.3,1.8
4,2022,9,17,00:40,UTC,-,-,0,7.3,2.3
...,...,...,...,...,...,...,...,...,...,...
428,2022,9,19,23:20,UTC,-,-,0,6,2.2
429,2022,9,19,23:30,UTC,-,-,0,5.9,2.4
430,2022,9,19,23:40,UTC,-,-,0,5.8,2.1
431,2022,9,19,23:50,UTC,-,-,0,5.7,2.1
432,2022,9,20,00:00,UTC,-,0,0,5.7,2.6

In [4]:
type(fmi_data)

pandas.core.frame.DataFrame

In [5]:
print(fmi_data.dtypes)

Vuosi                      int64
Kk                         int64
Pv                         int64
Klo                       object
Aikavyöhyke               object
Pilvien määrä (1/8)       object
Sademäärä (mm)            object
Lumensyvyys (cm)          object
Ilman lämpötila (degC)    object
Tuulen nopeus (m/s)       object
dtype: object

In [6]:
fmi_data.replace('-', np.nan)

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Pilvien määrä (1/8),Sademäärä (mm),Lumensyvyys (cm),Ilman lämpötila (degC),Tuulen nopeus (m/s)
0,2022,9,17,00:00,UTC,NaN,0.4,0,7.4,2.2
1,2022,9,17,00:10,UTC,NaN,NaN,0,7.4,2.2
2,2022,9,17,00:20,UTC,NaN,NaN,0,7.3,2.2
3,2022,9,17,00:30,UTC,NaN,NaN,0,7.3,1.8
4,2022,9,17,00:40,UTC,NaN,NaN,0,7.3,2.3
...,...,...,...,...,...,...,...,...,...,...
428,2022,9,19,23:20,UTC,NaN,NaN,0,6,2.2
429,2022,9,19,23:30,UTC,NaN,NaN,0,5.9,2.4
430,2022,9,19,23:40,UTC,NaN,NaN,0,5.8,2.1
431,2022,9,19,23:50,UTC,NaN,NaN,0,5.7,2.1
432,2022,9,20,00:00,UTC,NaN,0,0,5.7,2.6

In [7]:
fmi_data['Tuulen nopeus (m/s)'] = pd.to_numeric(fmi_data['Tuulen nopeus (m/s)'], errors='coerce')

In [8]:
test = fmi_data.loc[fmi_data['Pv']==17]
test

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Pilvien määrä (1/8),Sademäärä (mm),Lumensyvyys (cm),Ilman lämpötila (degC),Tuulen nopeus (m/s)
0,2022,9,17,00:00,UTC,-,0.4,0,7.4,2.2
1,2022,9,17,00:10,UTC,-,-,0,7.4,2.2
2,2022,9,17,00:20,UTC,-,-,0,7.3,2.2
3,2022,9,17,00:30,UTC,-,-,0,7.3,1.8
4,2022,9,17,00:40,UTC,-,-,0,7.3,2.3
...,...,...,...,...,...,...,...,...,...,...
139,2022,9,17,23:10,UTC,-,-,0,7.3,2.9
140,2022,9,17,23:20,UTC,-,-,0,7.2,2.6
141,2022,9,17,23:30,UTC,-,-,0,7.2,2.8
142,2022,9,17,23:40,UTC,-,-,0,7.3,3.2
143,2022,9,17,23:50,UTC,-,-,0,7.3,2.6

In [9]:
test['Tuulen nopeus (m/s)'] = pd.to_numeric(test['Tuulen nopeus (m/s)'], errors='coerce')
print(test['Tuulen nopeus (m/s)'].mean())

2.665972222222222

/tmp/ipykernel_118/2588940759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Tuulen nopeus (m/s)'] = pd.to_numeric(test['Tuulen nopeus (m/s)'], errors='coerce')

In [10]:
test['Sademäärä (mm)'] = pd.to_numeric(test['Sademäärä (mm)'], errors='coerce')
print(test['Sademäärä (mm)'].mean())

0.1791666666666667

/tmp/ipykernel_118/1456228411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Sademäärä (mm)'] = pd.to_numeric(test['Sademäärä (mm)'], errors='coerce')

In [11]:
test['Ilman lämpötila (degC)'] = pd.to_numeric(test['Ilman lämpötila (degC)'], errors='coerce')
print(test['Ilman lämpötila (degC)'].mean())

7.945833333333332

/tmp/ipykernel_118/1148037477.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Ilman lämpötila (degC)'] = pd.to_numeric(test['Ilman lämpötila (degC)'], errors='coerce')

In [12]:
virtaama = {
    'Kk':["7","7","7","7","7","7","7","7","7","7","7","7","7","7"],
    'Pv':["1","2","3","4","5","6","7","8","9","10","11","12","13","14"],
    'Virtaama (m3/s)' :[202.5,183.2,174.6,175.6,166.7,160.4,158.3,152.5,144.9,149.9,151.2,145.9,141.0,141.8],
              }

In [13]:
virtaama = pd.DataFrame(virtaama)

In [14]:
virtaama

   Kk  Pv  Virtaama (m3/s)
0   7   1            202.5
1   7   2            183.2
2   7   3            174.6
3   7   4            175.6
4   7   5            166.7
5   7   6            160.4
6   7   7            158.3
7   7   8            152.5
8   7   9            144.9
9   7  10            149.9
10  7  11            151.2
11  7  12            145.9
12  7  13            141.0
13  7  14            141.8

In [15]:
print(virtaama['Virtaama (m3/s)'].mean())

160.60714285714292

In [16]:
tulos = print(187.7+224.9+248.7)

661.3

In [17]:
print(661.3 / 3)

220.4333333333333

In [18]:
fmi_data07 = pd.read_csv('./data/nuorgam-weather-data-09-2022-FMI/nuorgam-weather-072022.csv')

In [19]:
fmi_data07.replace('-', np.nan)

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Pilvien määrä (1/8),Sademäärä (mm),Lumensyvyys (cm),Ilman lämpötila (degC),Tuulen nopeus (m/s)
0,2022,7,1,00:00,UTC,NaN,0,-1,10.6,0.7
1,2022,7,1,00:10,UTC,NaN,NaN,-1,10.6,1.3
2,2022,7,1,00:20,UTC,NaN,NaN,-1,10.4,1.2
3,2022,7,1,00:30,UTC,NaN,NaN,-1,10,1.1
4,2022,7,1,00:40,UTC,NaN,NaN,-1,9.6,1.2
...,...,...,...,...,...,...,...,...,...,...
2012,2022,7,14,23:20,UTC,NaN,NaN,-1,15.3,1
2013,2022,7,14,23:30,UTC,NaN,NaN,-1,15.2,1.9
2014,2022,7,14,23:40,UTC,NaN,NaN,-1,15,2.1
2015,2022,7,14,23:50,UTC,NaN,NaN,-1,15,1.1
2016,2022,7,15,00:00,UTC,NaN,0.2,-1,15,0.9

In [20]:
fmi_data07['Tuulen nopeus (m/s)'] = pd.to_numeric(fmi_data07['Tuulen nopeus (m/s)'], errors='coerce')
print(fmi_data07['Tuulen nopeus (m/s)'].mean())

2.021393034825871

In [21]:
fmi_data07['Sademäärä (mm)'] = pd.to_numeric(fmi_data07['Sademäärä (mm)'], errors='coerce')
print(fmi_data07['Sademäärä (mm)'].mean())

0.1712166172106825

In [22]:
fmi_data07['Ilman lämpötila (degC)'] = pd.to_numeric(fmi_data07['Ilman lämpötila (degC)'], errors='coerce')
print(fmi_data07['Ilman lämpötila (degC)'].mean())

15.72982630272953

## Utsjoki (Valle)

In [23]:
utsjoki = pd.read_csv('./data/utsjoki-weather-07-2022-FMI/csv-c63353f4-5a05-4f79-8772-bd5ad0a3f5ea.csv')

In [24]:
utsjoki.replace('-', np.nan)

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Pilvien määrä (1/8),Sademäärä (mm),Lumensyvyys (cm),Ilman lämpötila (degC),Tuulen nopeus (m/s)
0,2022,7,1,00:00,UTC,7,0,-1,9.4,0.9
1,2022,7,1,00:10,UTC,5,NaN,-1,9.4,0.6
2,2022,7,1,00:20,UTC,7,NaN,-1,9.4,0.7
3,2022,7,1,00:30,UTC,7,NaN,-1,9.5,0.9
4,2022,7,1,00:40,UTC,5,NaN,-1,9.3,1
...,...,...,...,...,...,...,...,...,...,...
2012,2022,7,14,23:20,UTC,8,NaN,-1,15.5,4.4
2013,2022,7,14,23:30,UTC,7,NaN,-1,15.4,3.5
2014,2022,7,14,23:40,UTC,7,NaN,-1,15.4,2.7
2015,2022,7,14,23:50,UTC,5,NaN,-1,15.3,3.1
2016,2022,7,15,00:00,UTC,3,0,-1,15.1,3.6

In [25]:
utsjoki['Tuulen nopeus (m/s)'] = pd.to_numeric(utsjoki['Tuulen nopeus (m/s)'], errors='coerce')
print(utsjoki['Tuulen nopeus (m/s)'].mean())

2.899205955334988

In [26]:
utsjoki['Sademäärä (mm)'] = pd.to_numeric(utsjoki['Sademäärä (mm)'], errors='coerce')
print(utsjoki['Sademäärä (mm)'].mean())

0.11577380952380951

In [27]:
utsjoki['Ilman lämpötila (degC)'] = pd.to_numeric(utsjoki['Ilman lämpötila (degC)'], errors='coerce')
print(utsjoki['Ilman lämpötila (degC)'].mean())

17.329300941993058

In [28]:
utsjoki09 = pd.read_csv('./data/utsjoki-weather-data-09-2022-FMI/csv-c6160e39-e17d-4fb9-b4bb-59f46056a2e7.csv')

In [29]:
utsjoki09.replace('-', np.nan)

,Vuosi,Kk,Pv,Klo,Aikavyöhyke,Sademäärä (mm),Ilman lämpötila (degC),Tuulen nopeus (m/s)
0,2022,9,19,00:00,UTC,0,6.9,5.3
1,2022,9,19,00:10,UTC,NaN,6.9,5.6
2,2022,9,19,00:20,UTC,NaN,6.9,5.0
3,2022,9,19,00:30,UTC,NaN,6.8,4.7
4,2022,9,19,00:40,UTC,NaN,6.8,4.6
...,...,...,...,...,...,...,...,...
140,2022,9,19,23:20,UTC,NaN,4.9,6.2
141,2022,9,19,23:30,UTC,NaN,4.8,6.2
142,2022,9,19,23:40,UTC,NaN,4.8,5.6
143,2022,9,19,23:50,UTC,NaN,4.8,5.2
144,2022,9,20,00:00,UTC,0,4.9,5.5

In [30]:
utsjoki09['Tuulen nopeus (m/s)'] = pd.to_numeric(utsjoki09['Tuulen nopeus (m/s)'], errors='coerce')
print(utsjoki09['Tuulen nopeus (m/s)'].mean())

6.156551724137931

In [31]:
utsjoki09['Sademäärä (mm)'] = pd.to_numeric(utsjoki09['Sademäärä (mm)'], errors='coerce')
print(utsjoki09['Sademäärä (mm)'].mean())

0.012000000000000002

In [32]:
utsjoki09['Ilman lämpötila (degC)'] = pd.to_numeric(utsjoki09['Ilman lämpötila (degC)'], errors='coerce')
print(utsjoki09['Ilman lämpötila (degC)'].mean())

6.392413793103447

In [35]:
virtaama_utsjoki = {
    'Kk':["7","7","7","7","7","7","7","7","7","7","7","7","7","7"],
    'Pv':["1","2","3","4","5","6","7","8","9","10","11","12","13","14"],
    'Virtaama (m3/s)' :[190.0,172.9,173.5,167.7,154.1,155.9,149.2,140.6,136.2,141.9,136.8,130.5,125.2,128.6],
              }

virtaama_utsjoki = pd.DataFrame(virtaama_utsjoki)

In [36]:
print(virtaama_utsjoki['Virtaama (m3/s)'].mean())

150.22142857142856